body {
  font-size: .875rem;
  background: #ffffff;
}

@font-face {
  font-family: 'Verona Regular';
  src: url("Verona-Regular.ttf") format("truetype");
  }
@font-face {
  font-family: 'TT Norms';
  src: url("tt_norms_regular.otf") format("opentype");
  }
@font-face {
  font-family: 'TT Norms Medium';
  src: url("tt_norms_medium.otf") format("opentype");
  }
@font-face {
  font-family: 'Maax';
  src: url("Maax-Medium.ttf") format("truetype");
  }

.title {
  font-family: 'Integral', sans-serif !important;
}

h1, h2, .navbar-brand {
  font-family: 'TT Norms Medium', sans-serif !important;
}

* {
  font-family: 'TT Norms', sans-serif;
}

.btn {
  font-family: 'Maax', sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  border-radius: 2px;
}

input {
  border-radius: 2px !important;
  border: 3px solid #1D201F !important;
}

.btn-primary {
  background: #FBA16C;
  border: 3px solid #FBA16C;
  border-radius: 2px;
  color: #f4f7f7;
  box-shadow: 5px 5px #ffffff5b;
  min-width: 200px;
}

.btn-primary:hover {
  background: #FBA16C;
  border: 3px solid #FBA16C;
  border-radius: 2px;
  color: #f4f7f7;
  box-shadow: 0px 0px #ffffff5b;
}

.secondary {
  background: #f4f7f7;
  color: #1D201F;
  border: 3px solid #f4f7f7;
  border-radius: 2px;
}
.secondary:hover {
  background: #d9dbdb;
  border: 3px solid #d9dbdb;
  color: #1D201F;
  border-radius: 2px;
}

.navbar, .navbar-brand {
  background: #210931 !important;
}

.primary {
  padding: 5px 15px 5px 15px !important;
  border: 3px solid #FBA16C;
  background: #FBA16C;
  color: #f4f7f7 !important;
  font-family: 'TT Norms' !important;
  border-radius: 2px;
}

.primary:hover {
  background: #da8555;
  border: 3px solid #da8555;
  color: #f4f7f7 !important;
  font-family: 'TT Norms' !important;
  border-radius: 2px;
}

.nav-item {
  font-family: 'Maax', sans-serif !important;
  line-height: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #0b8793;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
