body {
  padding-top: 3.5rem;
  overflow-x: hidden;
  height: 100%;
  background: #122c3a;
}

@font-face {
  font-family: 'HK Bold Italic';
  src: url("HKGrotesk-BoldItalic.otf") format("opentype");
  }
@font-face {
  font-family: 'TT Norms';
  src: url("tt_norms_regular.otf") format("opentype");
  }
@font-face {
  font-family: 'TT Norms Medium';
  src: url("tt_norms_medium.otf") format("opentype");
  }
@font-face {
  font-family: 'Buttons';
  src: url("Europa-Bold.otf") format("opentype");
  }
@font-face {
  font-family: 'HK Bold';
  src: url("HKGrotesk-Bold.otf") format("opentype");
  }
  @font-face {
    font-family: 'Proxima Nova';
    src: url("Proxima Nova.otf") format("opentype");
    }

.form-signin {
  width: 100%;
  padding: 1em 1em 1em 1em !important;
  border-radius: 2px;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  background: #f4f7f7;
}


.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

input {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  cursor: text !important;
  min-height: 60px !important;
  font-size: 1.2em !important;
}

.navbar-brand, #timeDiv {
  font-family: 'Buttons', sans-serif;
  font-size: 1.5em !important;
  color: #f4f7f7;
}

.navbar-brand:hover {
  color: #f4f7f7 !important;
}

h1, h2, h3 {
  font-family: 'HK Bold', sans-serif;
}

* {
  font-family: 'Proxima Nova', sans-serif;
}

p {
  font-size: 1.15em;
}

.jumbotron {
  background: #122c3a !important;
  color: #f4f7f7;
  text-align: center;
  height: calc(100vh - 3.5rem);
  border-radius: 0px !important;
}

.btn {
  font-family: 'Buttons', sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  border-radius: 2px;
  border: 3px solid #8a7a94;
  padding: 6px 10px 6px 10px !important;
}

input {
  border-radius: 2px !important;
  border-bottom: 3px solid #122c3a !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  background: none !important;
  color: #122c3a !important;
}
::placeholder {
  color: #122c3a93 !important;
}

.btn-primary {
  background: #00d280;
  border: 3px solid #00d280;
  border-radius: 2px;
  color: #f4f7f7;
  box-shadow: 5px 5px #00d2805b;
  min-width: 200px;
  font-family: 'Buttons', sans-serif !important;
}

.btn-primary:hover {
  background: #04c077;
  border: 3px solid #04c077;
  border-radius: 2px;
  color: #f4f7f7;
  box-shadow: 0px 0px #ffffff5b;
}

.btn-secondary {
  background: #ebf4f9;
  color: #122c3a;
  border: 3px solid #ebf4f9;
  border-radius: 2px;
}
.btn-secondary:hover {
  background: #c4dfed;
  border: 3px solid #c4dfed;
  color: #122c3a;
  border-radius: 2px;
}

.navbar {
  background-color: #122c3a;
  color: #f4f7f7 !important;
}

.register {
  padding: 6px 20px 6px 20px !important;
  border: 3px solid #00d280;
  background: #00d280;
  color: #f4f7f7 !important;
  font-family: 'Buttons', sans-serif !important;
  border-radius: 2px;
}

.register:hover {
  background: #04c077;
  border: 3px solid #04c077;
  color: #f4f7f7 !important;
  border-radius: 2px;
  text-decoration: none !important;
}

@media screen and (min-width: 768px) {
  .stick-up {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background: #fff;
  margin-top: -100px;
  z-index: 100 !important;
}
}

.nav-item a{
  font-family: 'Buttons', sans-serif !important;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 17px;
  padding-top: 2px;
  padding-bottom: 2px;
  letter-spacing: 0px;
  color: #f4f7f7 !important;
}

.nav-item a:hover{
  color: #dfe2e2 !important;
}

@media screen and (max-width: 768px) {
.mobile-menu {
  display: block !important;
  z-index: 9999;
}
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f4f7f7;
  overflow-y: hidden;
  transition: 0.5s;
  z-index: 9999;
}

.overlay-content {
  position: relative;
  top: 12%;
  width: 100%;
  text-align: center;
  margin-top: 0px;
  z-index: 9999;
}

.overlay a {
  font-family: 'HK Bold', sans-serif !important;
  padding: 4px;
  text-decoration: none;
  font-size: 3em;
  display: block;
  transition: 0.3s;
  z-index: 9999;
  color: #4998c5;
}

.overlay a:hover, .overlay a:focus, .overlay a:active {
  color: #3c81a8 !important;
}

.close {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.close::before, .close::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #122c3a;
}
.close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close.hairline::before, .close.hairline::after {
  height: 1px;
}

@media screen and (max-height: 450px) {
.overlay {overflow-y: auto;}
.overlay a {font-size: 20px}
.overlay .closebtn {
  font-family: 'TT Norms', 'Avenir', Helvetica, sans-serif;
  font-size: 40px;
  top: 15px;
  right: 35px;
}
}
}

.navbar-toggler {
  display: none !important;
}

.login {
  padding: 6px 20px 6px 20px !important;
  border: 3px solid #f4f7f7;
  background: none;
  color: #f4f7f7 !important;
  font-family: 'Buttons', sans-serif !important;
  border-radius: 2px;
  margin-right: 15px !important;
}

.login:hover {
  border-color: #dfe2e2 !important;
  color: #dfe2e2 !important;
  text-decoration: none !important;
}

.text-muted {
  color: #f4f7f75b !important;
}

@media screen and (min-width: 768px) {
.home-description {
  padding-right: 20%;
  padding-left: 20%;
  font-family: 'Proxima Nova', sans-serif !important;
}
}

.btn-glitch {
  transform: translateZ(0);
  overflow: visible;
}
.btn-glitch.btn-glitch-active {
  -webkit-filter: url("#filter");
  filter: url("#filter");
}
.btn-glitch.btn-glitch-active::after, .btn-glitch.btn-glitch-active::before {
  content: '';
  width: 1px;
  position: absolute;
  top: -1px;
  bottom: -1px;
}
.btn-glitch.btn-glitch-active::after {
  left: -2px;
  background-color: #ff536b;
  animation: colorshift-red 2.6s infinite;
  animation-timing-function: step-end;
}
.btn-glitch.btn-glitch-active::before {
  right: -2px;
  background-color: #3ffeff;
  animation: colorshift-blue 2.6s infinite;
  animation-timing-function: step-end;
}

body {
  margin: 0;
}

.sections {
  margin: 2% 5% 2% 5%;
}

.body-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}
.body-section .dark {
  background-color: #121212;
}
.body-section .half {
  flex: 0 0 100%;
  max-height: 50%;
  min-height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes colorshift-red {
  0%, 7% {
    background-color: #ff536b;
  }
  8%, 18% {
    background-color: transparent;
  }
  19% {
    background-color: #ff536b;
    width: 2px;
  }
  23%, 100% {
    background-color: transparent;
  }
}
@keyframes colorshift-blue {
  0%, 7% {
    background-color: #3ffeff;
  }
  8%, 18% {
    background-color: transparent;
  }
  19% {
    background-color: #3ffeff;
    width: 2px;
  }
  23%, 100% {
    background-color: transparent;
  }
}

.scroll-indicator {
  font-family: 'Proxima Nova', sans-serif;
  position: absolute;
  left: 0 !important;
  right: 0 !important;
  bottom: 0;
  display: block;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #45423E;
}
.scroll-indicator__line {
  position: absolute;
  left: 0 !important;
  top: 0;
  right: 0 !important;
  display: block;
  width: 1px;
  height: 35px;
  background-color: #45423E;
  margin: auto;
  content: '';
}

.bold-it {
  font-family: 'HK Bold Italic', sans-serif !important;
}

.num-steps {
  font-family: 'HK Regular';
}

.left-head {
  padding-right: 5%;
  padding-right: 5%;
}

.right-head {
  padding-left: 5%;
  padding-right: 5%;
}

::selection {
  background: #dde2e2; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #dde2e2; /* Gecko Browsers */
}

canvas{
  z-index: -1;
  position: absolute;
    top: 0;
    left: 0;
    background: #f4f7f7;
}

button:disabled {
  background: #686764 !important;
  border: 3px solid #686764 !important;
  border-radius: 2px;
  color: #f4f7f7 !important;
  box-shadow: 0px 0px #122c3a5b;
  min-width: 200px;
}

#form-button {
  min-height: 50px !important;
}

li {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 25px;
  list-style-type: none !important;
  margin-left: -8px !important;
}

a {
  color: #00d280;
  text-decoration: none;
}

a:hover {
  color: #04c077;
  text-decoration: none;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#timeDiv {
  font-size: 18px !important;
}

.open {
  background: #00d280 !important;
  color: #f4f7f7 !important;
  padding: 0.5em 0.5em 0.5em 0.5em !important;
  border-radius: 2px;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  text-align: center !important;
}

.closed {
  background: #f4f7f75b !important;
  color: #122c3a !important;
  padding: 0.5em 0.5em 0.5em 0.5em !important;
  border-radius: 2px;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  text-align: center !important;
}