/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

@font-face {
  font-family: 'Verona Regular';
  src: url("Verona-Regular.ttf") format("truetype");
  }
@font-face {
  font-family: 'TT Norms';
  src: url("tt_norms_regular.otf") format("opentype");
  }
@font-face {
  font-family: 'TT Norms Medium';
  src: url("tt_norms_medium.otf") format("opentype");
  }

h1, h2, .navbar-brand {
  font-family: 'Verona Regular', serif !important;
  letter-spacing: 0.5px !important;
}

* {
  font-family: 'TT Norms', sans-serif;
}

.jumbotron {
  background: #EBECE4;
  color: #0B0B0C;
  text-align: left;
}

.btn {
  font-family: 'TT Norms Medium';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  border-radius: 0px;
  border: 3px solid #24305E;
}

input {
  border-radius: 0px !important;
}

.btn-primary {
  background: #AAAA67;
  border: 3px solid #0B0B0C;
  border-radius: 0px;
  color: #0B0B0C;
  box-shadow: 5px 5px #0B0B0C5B;
  min-width: 200px;
}

.btn-primary:hover {
  background: #AAAA67;
  border: 3px solid #0B0B0C;
  border-radius: 0px;
  color: #0B0B0C;
  box-shadow: 0px 0px #0B0B0C5B;
}

.btn-secondary {
  background: #EBECE4;
  color: #0B0B0C;
  border: 3px solid #0B0B0C;
  box-shadow: 5px 5px #0B0B0C5B;
}
.btn-secondary:hover {
  background: #EBECE4;
  border: 3px solid #0B0B0C;
  border-radius: 0px;
  color: #0B0B0C;
  box-shadow: 0px 0px #0B0B0C5B;
}

.navbar {
  background: #0B0B0C !important;
}

.btn-outline-success {
  border: 3px solid #EBECE4;
  color: #EBECE4;
}

.btn-outline-success:hover {
  background: #EBECE4;
  border: 3px solid #EBECE4;
  color: #0B0B0C;
}